.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050; /* High z-index to overlay all elements */
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  